@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
}

.navbar{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar h3{
    color: #fff;
    margin-left: 60px;
    cursor: pointer;
}

.nav-links{
    flex: 1;
    display: inline-block;
}
.nav-links li{
    display: inline-block;
    margin-right: 60px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

.btn{
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    width: 100px;
    color: #fff;
    padding: 2px 3px;
    text-decoration: none;
    font-size: 14px;
    margin-right: 60px;
    transition: 0.5s;
}

.btn:hover{
    border: 1px solid orangered;
}

.nav-links li a::after{
    content: '';
    background: orangered;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 0;
    border-radius: 5px;
    transition: 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

/* banner */
.banner{
    width: 100%;
    height: 80vh;
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url(../images/humphrey-muleba-dDp-6pXrYik-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-info{
    width: 60%;
    padding: 150px 100px;
    color: #fff;
}

.banner-info h1{
    font-size: 80px;
    margin-bottom: 8px;
}

.banner-info h1 span{
    color: orangered;
}

.banner-info p{
    line-height: 23px;
}

button{
    display: inline-block;
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 10px ;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    transition: 1s;
}

button:hover{
    background: orangered;
    border: none;
}

.banner::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);

}

.main-container{
    width: 1200px;
    text-align: center;
    margin: auto;


}
.container-1{
    width: 1200px;
    margin: auto;
    padding-top: 70px;
}

.title{
    color: #333;
}

.title span{
    color: orangered;
}

.row{
    display: flex;
    min-width: 200px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
}

.col-2 img{
    width: 80%;
    border-radius: 20px;
}

.col-2 .content{
    padding: 100px 50px 30px 0px;
}
.content h3{
    line-height: 40px;
}
.content p{
    color: #777;
}

.col-3 h4{
    text-align: center;
    margin-bottom: 20px;
}

.col-3{
    flex-basis: 30%;
    text-align: left;
    padding: 5px 3px 2px 3px;
}
.col-3 img{
    width: 95%;
    border-radius: 20px;
    filter: grayscale(100%);
    transition: 0.5ss;
}

.col-3 :hover{
    filter: grayscale(0%);
}

.col-3 p{
    color: #777;
    margin: 10px 5px 5px 0;
}

.footer{
    margin-top: 40px;
    padding: 10px;
    background: #000;
    color: #fff;
}
.footer-content{
    padding: 30px 50px 20px;
    align-items: center;
}

.social-links{
    padding: 20px 0;
    display: inline-block;
    font-size: 30px;
}
a{
    color: #fff;
    margin-left: 20px;
    font-size: 30px;
    transition: 0.5s;
}

a:hover{
    color: orangered;
}
